.parent.dark .parnet-sections .section-one img {
    background-color: white;
}

.parent.dark .parnet-sections .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .parnet-sections .section-one .main-img,
.parent.dark .section-five .content .bord {
    box-shadow: none;
}

.parent.dark .section-four .content .grid .bord {
    padding: 10px;
}

.parent.dark .section-four .content .grid .bord
.parent.dark .parnet-sections .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .section-six .content .foot input,
.parent.dark .section-six .content .foot textarea,
.parent.dark .nav-bar{
    border: none;
}

.parent.dark .parnet-sections .section {
    background-color: var(--BCDark-dark);
}

.parent.dark .nav-bar,
.parent.dark .nav-bar h1,
.parent.dark .section-two .foot .bord .content,
.parent.dark .section-three .row .content .bord,
.parent.dark .section-four .content .grid .bord,
.parent.dark .section-five .content .bord .txt,
.parent.dark .section-six .content .foot input,
.parent.dark .section-six .content .foot textarea,
.parent.dark .section-six .content .head .bord {
    background-color: var(--BCLight-dark);
}

.parent.dark .parnet-sections .section h1,
.parent.dark .parnet-sections .section p,
.parent.dark .parnet-sections .section i,
.parent.dark .parnet-sections .section h4,
.parent.dark .parnet-sections .section span,
.parent.dark .parnet-sections .section-two .foot .bord .content .txt span i,
.parent.dark .section-four .content .filter-list ul li,
.parent.dark .nav-bar h1,
.parent.dark .nav-bar .row li[class="heading"],
.parent.dark .section-six .content .foot input,
.parent.dark .section-six .content .foot textarea {
    color: white;
}