/*nav-bar dark*/
.parent.dark .nav-bar {
    background-color: var(--BCLight-dark);
    border: none;
}

.parent.dark .nav-bar  .bgcolor-style.fas.fa-bars.active {
    color: var(--redColor);
    background-color: white;
    border: none;
}

.parent.dark .nav-bar h1{
    color: white;
    background-color: var(--BCLight-dark);
}

.parent.dark .nav-bar .txt h1 .part {
    background-color: var(--redColor);
}

.parent.dark .nav-bar .row li {
    color: white;
}

.parent.dark .nav-bar .row li.redColor {
    color:var(--redColor)
}

.parent.dark .nav-bar .row li.blueColor {
    color:var(--blueColor)
}

.parent.dark .nav-bar .row li.OrangeColor {
    color:var(--OrangeColor)
}

.parent.dark .nav-bar .row li.YellowColor {
    color:var(--YellowColor)
}

.parent.dark .nav-bar .row li.greenColor {
    color:var(--greenColor)
}

/*nav-bar dark*/
/*parent dark-sections*/
.parent.dark .parnet-sections .section {
    background-color: var(--BCDark-dark);
}

.parent.dark .parnet-sections .section h1,
.parent.dark .parnet-sections .section p,
.parent.dark .parnet-sections .section i {
    color: white;
}

.parent.dark .parnet-sections .section-one img {
    box-shadow: none;
    background-color: white;
}
/*parent dark-sections*/

