/*parent nav-bar*/
.parent.light .nav-bar,
.parent.light .nav-bar .txt h1 {
    background-color: var(--BCDark-light);
}
.parent.light .nav-bar .txt h1 .part {
    background-color: var(--redColor);
}

.parent.light .nav-bar .row li.redColor {
    color:var(--redColor)
}

.parent.light .nav-bar .row li.blueColor {
    color:var(--blueColor)
}

.parent.light .nav-bar .row li.OrangeColor {
    color:var(--OrangeColor)
}

.parent.light .nav-bar .row li.YellowColor {
    color:var(--YellowColor)
}

.parent.light .nav-bar .row li.greenColor {
    color:var(--greenColor)
}
/*parent nav-bar*/
/*parent light-sections*/
.parent.light .parent.light-sections {
    background-color: var(--BCLight-light);
}

.parent.light .parnet-sections .section {
    background-color: var(--BCDark-light);
}
/*parent light-sections*/

