.parent {
    width: 100%;
    height: 100vh;
    display: flex;
}

.parent .nav-bar {
    width: 400px;
    height: 100%;
    border:1px solid var(--borderLight-light)
}

.parent .nav-bar .txt {
    padding: 150px 0;
}

.parent .nav-bar .txt h1{
    text-align: center;
    font-size: 55px;
    max-width: 230px;
    background-color: white;
    position: relative;
    margin: auto;
}

.parent .nav-bar .txt h1 .part {
    position: absolute;
    background-color: var(--redColor);
    width: 30px;
    height: 30px;
    z-index: -1;
}

.parent .nav-bar .txt h1 .part.after {
    right: -7px;
    bottom: -7px;
}

.parent .nav-bar .txt h1 .part.before {
    top:-7px;
    left:-7px;
}

.parent .nav-bar .row {
    margin:0 30px;
}

.parent .nav-bar .row ul {
    width: 100%;
    list-style: none;
}

.parent .nav-bar .row ul li {
    padding: 13px 20px;
    padding-left: 0;
    font-size: 22px;
    border-bottom: 1px solid var(--borderLight-light);
    cursor: pointer;
}

.parent .nav-bar .row ul li i {
    margin-right: 15px;
}
/*start parent sections*/
.parent-sections{
    height: 100%;
}

.parnet-sections .section {
    width: 100%;
    height:100%;
}
/*end parent sections*/
/*start sections one*/
.section-one .container,
.section-one .container .row{
    height: 100%;
}

.section-one .container .row{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-one img {
    border-radius: 50%;
    padding: 10px;
    box-shadow:0 0 20px #c0c0c0;
    margin-bottom: 30px;
}
.section-one h1 {
    font-size: 45px;
    text-shadow: 0 0 5px #646464;
}

.section-one p {
    font-size: 21px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.section-one ul li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
    background-color: var(--redColor);
    color: white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

/*end sections one*/
