@media (max-width: 1450px) {
  .parent .section-three .row .content.grid,
  .parent .section-four .content .grid {
    grid-template-columns: repeat(2, auto);
  }

  .parent .section-five .content {
    flex-wrap: wrap;
  }

  .parent .section-five .content .bord {
    width: 47%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .parent .nav-bar {
    position: fixed;
    left: -400px;
    transition: 0.5s ease-in-out left;
  }
  .parent .nav-bar.show {
    left: 0px;
  }

  .parent .nav-bar .fa-bars {
    display: block;
  }

  .parent .section-three .row .content.grid,
  .parent .section-four .content .grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 992px) {
  .parent .parent-sections .section-two .row.foot {
    flex-direction: column;
  }
  .parent .parent-sections .section-two .row.foot .bord {
    width: 100%;
  }

  .parent .section-three .row .content.grid,
  .parent .section-four .content .grid {
    grid-template-columns: repeat(2, auto);
  }

  .parent .section-three .row .content .bord p {
    font-size: 14px;
  }

  .parent .parent-sections .section-two .head .content {
    flex-direction: column;
  }

  .parent .parent-sections .section-two .head .content .bord.one {
    width: 100%;
  }
  .parent .parent-sections .section-two .head .content .bord.two {
    width: 70%;
  }

  .parent .parent-sections .section-two .head .content .bord.one .data {
    width: 45%;
  }

  .parent .parent-sections .section-two .head .content .bord.one .buttons {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .parent .section-six .content .head {
    flex-direction: column;
  }

  .parent .section-six .content .head .bord {
    width: 100%;
  }

  .parent .section-six .content .head .bord:not(:last-child) {
    margin-bottom: 40px;
  }

  .parent .section-six .content .foot input.half {
    width: 100%;
  }

  .parent .section-six .content .foot input.half:not(:last-child) {
    margin-bottom: 30px;
  }

  .parent .section-six .content .foot textarea {
    margin-top: 0;
  }

  .parent .section-five .content .bord {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .parent .parent-sections .section-two .head .content .bord.two {
    width: 100%;
  }

  .parent .section-three .row .content.grid,
  .parent .section-four .content .grid {
    grid-template-columns: repeat(1, auto);
  }

  .parent .section-three .row .content .bord,
  .parent .section-four .content .grid .bord {
    max-width: unset;
  }

  .parent .parent-sections .section-two .head .content .bord.one {
    flex-direction: column;
  }
  .parent .parent-sections .section-two .head .content .bord.one .data {
    width: 100%;
  }

  .parent .parent-sections .section-two .head p.text {
    width: 100%;
  }
}

@media (max-width: 453px) {
  .parent .nav-bar {
    width: 290px;
    left: -290px;
  }
}
