.parent .section-six .content {
    margin-top: 50px;
    width: 100%;
}

.parent .section-six .content .head {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.parent .section-six .content .head .bord {
    width: 32%;
    padding: 15px 20px;
    border-radius: 25px;
}

.parent .section-six .content .head .bord i {
    font-size: 50px;
    color:var(--redColor);
    margin-bottom: 30px;
}

.parent .section-six .content .head .bord span {
    font-size: 20px;
    margin-top: 5px;
}

.parent .section-six .content .foot {
    margin-top: 50px;
}

.parent .section-six .content .foot input,
.parent .section-six .content .foot textarea {
    padding:15px 20px;
    border: 1px solid var(--borderDark-light);
    border-radius: 20px;
    outline: none;
    font-size: 17px;
}

.parent .section-six .content .foot input.half {
    width: 49%;
}

.parent .section-six .content .foot input.half:nth-of-type(2) {
    float: right;
}

.parent .section-six .content .foot textarea {
    width: 100%;
    margin-top: 30px;
    resize: none;
    height: 200px;
}

.parent .section-six .content .foot button {
    background-color: var(--redColor);
    color: white;
    padding:12px 20px;
    border-radius: 25px;
    outline: none;
    border:none;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
}