.parent .section-three {
  overflow: auto;
}

.parent .section-three .row .content .bord {
  padding: 45px 20px;
  border: 1px solid var(--borderDark-light);
  transition: 0.2s ease-in-out box-shadow;
  border-radius: 5px;
  height: 320px;
  max-width: 500px;
}

.parent .section-three .row .content .bord:hover {
  box-shadow: 0 0 10px 3px #d8d8d8;
}

.parent .section-three .row .content.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.parent .section-three .row .content .bord i {
  font-size: 40px;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.parent[data-current-color="redColor"]
  .section-three
  .row
  .content
  .bord:hover
  i {
  background-color: var(--redColor);
}

.parent[data-current-color="greenColor"]
  .section-three
  .row
  .content
  .bord:hover
  i {
  background-color: var(--greenColor);
}

.parent[data-current-color="blueColor"]
  .section-three
  .row
  .content
  .bord:hover
  i {
  background-color: var(--blueColor);
}

.parent[data-current-color="orangeColor"]
  .section-three
  .row
  .content
  .bord:hover
  i {
  background-color: var(--orangeColor);
}

.parent[data-current-color="yellowColor"]
  .section-three
  .row
  .content
  .bord:hover
  i {
  background-color: var(--yellowColor);
}

.parent .section-three .row .content .bord:hover i {
  color: white !important;
}

.parent .section-three .row .content .bord h4 {
  margin-bottom: 20px;
}
